@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.header {
  @include blockPadding;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;

  @media screen and (min-width: $tabletWidth) {
    height: 80px;
  }

  &__menu {
    order: 10;

    @media screen and (min-width: $tabletWidth) {
      order: 0;
    }
  }
}
