@import "../../global/variables.scss";

.logo {
  display: flex;

  &__text {
    display: none;

    @media screen and (min-width: $desktopWidth) {
      font-family: "Montserrat", sans-serif;
      display: inline-block;
      width: 126px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      color: $baseBlack;
      margin-left: 20px;
    }
  }
}

.logo--footer .logo__text {
  @media screen and (min-width: $desktopWidth) {
    margin-left: 0;
    width: auto;
  }
}
