@import "../../global/variables.scss";

.menu {
  &__list {
    display: none;

    @media screen and (min-width: $tabletWidth) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__burger-list {
    position: absolute;
    z-index: 10000;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: $baseWhite;
    display: none;
    flex-direction: column;
    align-items: center;
    @media (scripting: none) {
      display: flex;
    }
    @media screen and (min-width: $tabletWidth) and (scripting: none) {
    }
    display: none;
  }

  &__burger-list &__item {
    padding: 20px 0;
    border-top: 1px solid $baseSecondary;
    width: 100%;
    text-align: center;
  }

  &__link {
    text-transform: uppercase;
    color: $baseBlack;
    width: 100%;
    padding: 32px 20px;

    @media screen and (min-width: $tabletWidth) {
      &:hover,
      &:focus {
        color: $basePrimary;
      }

      &:active {
        color: $basePrimary;
        background-color: $baseSecondary;
      }
    }
  }

  &__link--active {
    @media screen and (min-width: $tabletWidth) {
      color: $basePrimary;
      padding-bottom: 28px;
      border-bottom: 2px solid $basePrimary;
    }
  }

  &__burger {
    background: none;
    border: none;
    width: 60px;
    height: 60px;

    &:active {
      background-color: $baseSecondary;
    }

    @media screen and (min-width: $tabletWidth) {
      display: none;
    }
  }

  &__close {
    display: none;
    background: none;
    border: none;
    width: 60px;
    height: 60px;

    &:active {
      background-color: $baseSecondary;
    }

    @media (scripting: none) {
      display: none;
    }
  }
}
