@import "../../global/variables.scss";

.user {
  margin-left: auto;
  height: 100%;

  @media screen and (min-width: $tabletWidth) {
    margin: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__item {
    height: 100%;
    width: 60px;

    &:active {
      background-color: $baseSecondary;
    }

    @media screen and (min-width: $desktopWidth) {
      width: auto;
    }
  }

  &__link {
    color: $baseBlack;
    visibility: hidden;
    height: 100%;

    &--login,
    &--union {
      position: relative;

      &::before {
        height: 100%;
        width: 60px;
        visibility: visible;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $desktopWidth) {
          width: 16px;
          margin-right: 8px;
          display: block;
        }
      }
    }

    &--login::before {
      content: url("../../../images/icons/user.svg");
      display: block;
      height: 100%;
      width: 16px;
      margin: 22px 0 0 22px;

      @media screen and (min-width: $tabletWidth) {
        margin-top: 50%;
      }

      @media screen and (min-width: $desktopWidth) {
        margin: 0;
        margin-right: 8px;
      }
    }

    &--union::before {
      content: url("../../../images/icons/union.svg");
      display: block;
      width: 16px;
      height: 16px;
      margin: 22px 0 0 22px;

      @media screen and (min-width: $tabletWidth) {
        margin-top: 50%;
      }

      @media screen and (min-width: $desktopWidth) {
        margin: 0;
        margin-right: 8px;
      }
    }

    &:hover,
    &:focus,
    &:active {
      &::before {
        content: url("../../../images/icons/union-hover.svg");
        width: 16px;
        height: 16px;
      }
    }

    &--login:hover,
    &--login:focus,
    &--login:active {
      &::before {
        content: url("../../../images/icons/user-hover.svg");
        width: 16px;
        height: 16px;
      }
    }

    @media screen and (min-width: $desktopWidth) {
      visibility: visible;
      display: flex;
      padding: 32px 20px;

      &:hover,
      &:focus {
        color: $basePrimary;
      }
    }
  }
}
