@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.catalog {
  @include blockPadding;
  background-color: $lightestGrey;

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktopWidth) {
      display: grid;
      grid-template-columns: 318px 1fr;
      gap: 30px;
    }
  }

  &__description {
    margin-bottom: 20px;

    @media screen and (min-width: $desktopWidth) {
      margin-bottom: 40px;
    }
  }
}
