@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.catalog {
  @include blockPadding;
  background-color: $lightestGrey;

  display: flex;
  flex-direction: column;

  &__description {
    margin-bottom: 20px;

    @media screen and (min-width: $desktopWidth) {
      margin-bottom: 40px;
    }
  }
}
