@import "../../global/variables.scss";

.price {
  display: flex;
  justify-content: space-between;
  gap: 44px;
  position: relative;

  @media (min-width: $tabletWidth) {
    gap: 48px;
  }

  @media (min-width: $desktopWidth) {
    gap: 50px;
  }

  &__start {
    box-sizing: border-box;
    width: 118px;

    @media screen and (min-width: $tabletWidth) {
      width: 87px;
    }

    height: 40px;
    border: 2px solid $basePrimary;
    border-radius: 4px;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $baseBlack;
  }

  &__end {
    box-sizing: border-box;
    width: 118px;

    @media screen and (min-width: $tabletWidth) {
      width: 88px;
    }

    height: 40px;
    border: 2px solid $basePrimary;
    border-radius: 4px;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $baseBlack;
  }

  &__dash {
    position: absolute;
    background-color: $baseGrey;
    width: 8px;
    height: 2px;
    margin-top: 10%;
    right: 50%;
  }
}
