@import "../../global/variables.scss";

.range {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tabletWidth) {
    margin-bottom: 0;
  }

  @media (min-width: $desktopWidth) {
    margin-bottom: 30px;
  }

  &__select {
    margin-bottom: 24px;

    @media screen and (min-width: $tabletWidth) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktopWidth) {
      margin-bottom: 22px;
    }

    height: 24px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    input[type="range"] {
      appearance: none;
      -webkit-appearance: none;
      pointer-events: none;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $basePrimary;
      &:focus,
      &:active {
        outline: none;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        box-sizing: content-box;
        @include thumb;
      }
      &::-moz-range-thumb {
        @include thumb;
      }
      &::-ms-thumb {
        @include thumb;
      }
      &::-moz-range-track {
        -moz-appearance: none;
        background-color: none;
      }
      &::-ms-track {
        border-color: transparent;
        color: transparent;
        background: transparent;
        /* again your track styles */
      }
      &::-ms-fill-upper {
        background: transparent;
      }
      &::-ms-fill-lower {
        background: transparent;
      }
      &::-ms-tooltip {
        display: none;
      }
    }
  }
  input[type="range"]:last-of-type::after {
    content: "";
    display: block;
    width: 10%;
    height: 4px;
    background-color: $lightGrey;
    position: absolute;
    right: 0;
  }
}
