@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.developed {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  display: flex;
  gap: 4px;

  @media screen and (min-width: $tabletWidth) {
    bottom: 40px;
  }

  &__academy-text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $baseGrey;
  }
}
