@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $desktopWidth) {
    flex-direction: row;
  }
}
